.c1{
    background-color:orange;
}
.c1 i{
    padding-left: 20px;
}
nav span,.c2 span{
    color: orange;
}
nav a{
    color: white;
}
.c2 img{
    height: 500px;
    width: 100%;
    filter: brightness(50%);
}
.c2 p{
    padding-top: 30px;
    padding-bottom: 100px;
}
.c2 button{
    margin-left: 60px;
}
.c2 button,.c3 button,.c5 button{
    color: white;
    font-weight: bold;
    padding: 5px 15px;

}
.c2{
    margin-bottom: 150px;
}
.c3 h3{
    color: orange;
}
.c3 img{
    width: 100%;
    height: 250px;
}
.c3{
    margin-bottom: 40px;
}
.c4{
    background-color:rgb(227, 245, 245);
    text-align: center;
    margin-bottom: 100px;
}
.c4 i{
    font-size: 30px;
    padding: 10px;
    outline: 5px solid orange;
    border-radius: 50%;
    margin-bottom: 20px ;
    margin-top: 50px;
    box-shadow: 10px 10px 5px #f7b232;
    
}
.c4 h1{
    padding-top: 100px;
}
.par{
    padding-bottom: 70px;
}
.c5 h1{
    text-align: center;
    padding-bottom: 20px;
}
.c6{
    background-color: orange;
    margin-top: 50px;
    padding-top: 50px;
}
.hw{
    font-weight:10;
}

.i1,.i2{
    width: 200px;
}
.i2{
    margin-left: 15px;
}
.pas{
    width: 300px;
}
.c6 button{
    margin-left: 10px;
    padding: 5px 15px;
}
.pas,.c6 button{
    margin-top: 10px;
}
.c7{
    background: rgba(0,0,0,0.7)url("../Imgs/6.png");
    background-blend-mode: darken;
    background-size:100% 100% ;

    padding: 100px 0px;
    color: white;
}
.c7 h4{
    padding-bottom: 10px;
}
.c7 h5{
    color: yellow;
    font-weight: 10;
}
.c7 p{
    padding-top: 15px;
}
.c71 i{
    font-size: 20px;
    margin-right: 15px;
    width: 10px;
    height: 10px;
    color: black;
}
.c71 a{
    display: inline-block;
    background-color:orange;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 50%;
}
.c73 ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.c73 li{
    font-size: 18px;
}

.c7 img{
    width: 30px;
    height: 30px;
}
.c73 i{
    width: 30px;
    height: 30px;
    font-size:large;
    border-radius: 50%;
    border: 3px solid white;
    text-align: center;
    line-height: 30px;
}